@import "tailwindcss";

@theme {
  /* ================= Primary ================= */

  --color-green-500:hsl(163 72% 41%);
  --color-red-500: hsl(356 69% 56%);

  --color-Facebook: hsl(208 92% 53%);
  --color-Twitter: hsl(203 89% 53%);
  --color-YouTube: hsl(348 97% 39%);

  /* Instagram gradient */
  --color-Instagram-from: hsl(37 97% 70%);
  --color-Instagram: hsl(5 77% 71%);
  --color-instagram-to: hsl(329 70% 58%);

  /* ================= Toggle ================= */

  --color-toggle-light: hsl(230 22% 74%);
  --color-toggle-dark-from: hsl(210 79% 56%);
  --color-toggle-dark-to: hsl(146 68% 55%);

  /* ================= Neutral (Semantic) ================= */

  /* Light theme */
  --color-bg: hsl(0 100% 100%);
  --color-bg-top: hsl(225 100% 98%);
  --color-card: hsl(227 47% 96%);
  --color-text-primar: hsl(230 17% 14%);
  --color-text-secondary: hsl(228 12% 44%);
}

/* ================= Dark Mode ================= */

.dark {
  --color-bg: hsl(230 17% 14%);
  --color-bg-top: hsl(232 19% 15%);
  --color-card:hsl( 228 28% 20%);
  --color-text-primar: hsl(0 100% 100%);
  --color-text-secondary: hsl(230 22% 74%);
}
